{
  "presets": [
    [
      "env", {
        "modules": false
      }
    ],
    "react"
  ],
  "plugins":["transform-runtime"],
  "env": {
    "test": {
      "presets": [
        "env",
        "react"
      ]
    }
  }
}
